<%= form_for [@post, @comment] do |f| %>
  <p>
    <%= f.label :discription %><br/>
    <%= f.text_area :discription %>
    <%= f.hidden_field :user_id, value: current_user.id%>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>