<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <style>
      /* Import Font Dancing Script */
      @import url(https://fonts.googleapis.com/css?family=Dancing+Script);
      

      * {
          margin: 0;
      }

      body {
          background-color: #e8f5ff;
          font-family: italic;

      }

      /* Main */
      .main {
          margin-top: 2%;
          margin-left: 22%;
          font-size: 28px;
          padding: 0 10px;
          width: 58%;
      }

      .main h2 {
          color: #333;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 0.9em;
          margin-bottom: 10px;
      }

      .main .card {
          background-color: #fff;
          border-radius: 18px;
          box-shadow: 1px 1px 8px 0 grey;
          height: auto;
          margin-bottom: 20px;
          padding: 20px 0 20px 50px;
      }

      .main .card table {
          border: none;
          font-size: 16px;
          height: 270px;
          width: 80%;
      }
      
      .edit {
          position: absolute;
          color: #e7e7e8;
          right: 14%;
      }
      
      .social-media {
          text-align: center;
          width: 90%;
          display: flex;
          flex-direction: row;
          flex-wrap:wrap;
      }
      
      
      .underbelow{
        width:200px;

      }

      .below{
        margin: 0px;
        text-align: center;
        display: flex;
        flex-direction: row;
        font-size:0.9em;
      }
      .img-thumbnail{
        height: 255px;
        width: 180px;
      }
      
      .profilewritten{
        display: flex;
        margin-top: 5%;
      }
       
      .social-media  div{
          margin: 0 10px;

      }

      .undermain{
        width: 0px;
        display: flex;
      }

      .designmain{
        text-align: center;
        margin-right: 40px;
        font-size:65%;
      }   
           
      .buttons{
        padding:0px;
        margin-left:40px;
        position: relative;
        margin-bottom:5px;
      }
      
      .profile-button button{
        border-radius:10px;
        padding:15px;
        style="color:black; 
        background-color: #efefef00;
      }

      .profileside{
        padding:0px;
        margin-left:55px;
        margin-bottom:15px;
      }

      .profiletop{
        display:flex;
        flex-direction:row;
        padding: 5px;
      }
      
/* End */
    </style>
</head>
<body>

    <%=render partial: "homes/navside" %>

    <!-- Main -->
    <div class="main">
        <div class="card">
            <div class="card-body">
              <div class="profilewritten">
                <div class="profile">
                  <%if @user.avatar.attached? %>
                    <%= image_tag main_app.rails_blob_url(@user.avatar.attachment), style:"width:140px; height:140px;",class:"rounded-circle shadow-1-strong me-3"%>
                  <%else%>
                    <img src="">
                  <%end%>
                </div>

                <div class="profileside">
                <div class="profiletop">
                <h4><%= @user.username%></h4>
                <div class="buttons">
                    <% if current_user != @user %>
                        <% if current_user.following?(@user) %>
                          <div class="profile-button">
                            <%= form_with url: unfollow_profiles_path(user_id: @user.id), method: :delete do %>
                            <%= submit_tag 'unfollow', class: 'btn btn-primary' %>
                          </div>
                            <% end %>
                        <% elsif current_user.sent_follow_request_to?(@user)%>
                          <div class="profile-button">
                            <%= form_with url: cancel_profiles_path(user_id: @user.id), method: :post do %>
                            <%= submit_tag 'Cancel', class: 'btn btn-primary' %>
                            <% end %>
                            </div>
                        <% elsif %>
                          <div class="profile-button">
                            <%= form_with url: follow_profiles_path(user_id: @user.id), method: :post do %>
                            <%= submit_tag 'Follow', class: 'btn btn-primary' %>
                            <% end %>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="profile-button btn btn-secondary", style="color:black; background-color: #efefef00;">
                          <%=link_to "Edit Profile", edit_user_path(@user), class:"nav-link "%>
                        </div>
                    <%end%>
                </div>
                </div>
                <div class="undermain">
                 <div class="designmain">
                 <span> <%= @user.posts.count%>posts</span>
                 </div>
                 <div class="designmain">
                  <%= link_to profile_path(@user), class:"nav-link" do%>
                  <span><%= @user.followers.count%>followers</span>
                  <%end%>
                 </div>
                 <div class="designmain">
                  <%= link_to profile_path(@user), class:"nav-link" do%>
                  <span><%= @user.following.count%>following</span>
                  <%end%>
                 </div>
                </div>

                <div class="name">
                  <%= @user.name %>
                </div>
                <div class="job">
                  <%= @user.bio %>
                </div>

                
                </div>
              </div>
              
            </div>
        </div> 
           
        <div class="below">
         <div class="underbelow"> Posts </div>
         <div class="underbelow"> Reels </div>
         <div class="underbelow"> Mention </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <div class="social-media">
                  <% @user.posts.each do |post|%>
                    <div class="pics">
                      <% if post.images.attached? %>
                        <% attachment = post.images.first.attachments.first %>
                        <%=link_to post_path(post) do %>
                        <%= image_tag main_app.rails_blob_url(attachment), class: 'img-thumbnail'%>
                        <% end %>
                      <% end %>
                    </div>
                  <%end%>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
</body>
</html>
