<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="user_show.css">
</head>
<body>

  <%=render partial: "homes/navside" %>
  
    <!-- Main -->
    <div class="main">
        <div class="card">
            <div class="card-body">
              <div class="profilewritten">
                <div class="profile">
                  <%if @user.avatar.attached? %>
                    <%= image_tag main_app.rails_blob_url(@user.avatar.attachment), style:"width:140px; height:140px;",class:"rounded-circle shadow-1-strong me-3"%>
                  <%else%>
                    <img src="">
                  <%end%>
                </div>

                <div class="profileside">
                <div class="profiletop">
                <h4><%= @user.username%></h4>
                <div class="buttons">
                    <% if current_user != @user %>
                        <% if current_user.following?(@user) %>
                          <div class="profile-button">
                            <%= form_with url: unfollow_profiles_path(user_id: @user.id), method: :delete do %>
                            <%= submit_tag 'unfollow', class: 'btn btn-primary' %>
                          </div>
                            <% end %>
                        <% elsif current_user.sent_follow_request_to?(@user)%>
                          <div class="profile-button">
                            <%= form_with url: cancel_profiles_path(user_id: @user.id), method: :post do %>
                            <%= submit_tag 'Cancel', class: 'btn btn-primary' %>
                            <% end %>
                            </div>
                        <% elsif %>
                          <div class="profile-button">
                            <%= form_with url: follow_profiles_path(user_id: @user.id), method: :post do %>
                            <%= submit_tag 'Follow', class: 'btn btn-primary' %>
                            <% end %>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="profile-button btn btn-secondary", style="color:black; background-color: #efefef00;">
                          <%=link_to "Edit Profile", edit_user_path(@user), class:"nav-link "%>
                        </div>
                    <%end%>
                </div>
                </div>
                <div class="undermain">
                 <div class="designmain">
                 <span> <%= @user.posts.count%>posts</span>
                 </div>
                 <div class="designmain">
                  <%= link_to profile_path(@user), class:"nav-link" do%>
                  <span><%= @user.followers.count%>followers</span>
                  <%end%>
                 </div>
                 <div class="designmain">
                  <%= link_to profile_path(@user), class:"nav-link" do%>
                  <span><%= @user.following.count%>following</span>
                  <%end%>
                 </div>
                </div>

                <div class="name">
                  <%= @user.name %>
                </div>
                <div class="job">
                  <%= @user.bio %>
                </div>

                
                </div>
              </div>
              
            </div>
        </div> 
           
        <div class="below">
         <div class="underbelow"> Posts </div>
         <div class="underbelow"> Reels </div>
         <div class="underbelow"> Mention </div>
        </div>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <div class="social-media">
                  <% @user.posts.each do |post|%>
                    <div class="pics">
                      <% if post.images.attached? %>
                        <% attachment = post.images.first.attachments.first %>
                        <%=link_to post_path(post) do %>
                        <%= image_tag main_app.rails_blob_url(attachment), class: 'img-thumbnail'%>
                        <% end %>
                      <% end %>
                    </div>
                  <%end%>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
</body>
</html>
