<section>
  <div class=" card container py-5">

    <div class="row">
      <div class="row">
          <div class="col-10 d-flex flex-row">
            <h5 class="font-weight-bold mb-3 text-center text-lg-star">Chats</h5>
          </div>
          <div class="col-2 dropdown mb-4">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Users
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <%current_user.followers.each do |both_friend|%>
                <%=link_to start_chat_path(other_user_id:both_friend.id), class:"nav-link" do%>
                <li><%= both_friend.name%></li>
                <%end%>
                <% end %>
              </ul>
            </div>
        </div>
      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
        <% User.all.each do |other_user|%>
        <% if other_user != current_user %>
         <div class="card" style="width:455px;">
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li class="p-2 border-bottom bg-body-tertiary">
                <a href="#!" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <%if other_user.avatar.attached? %>
                      <%= image_tag main_app.rails_blob_url(other_user.avatar.attachment), class:"post-profile-pic"%>
                    <%else%>
                      <img src="" alt="Profile" class="post-profile-pic">
                    <%end%>
                    <div class="pt-1">
                     <%=link_to start_chat_path(other_user_id:other_user.id), class:"nav-link" do%>
                      <p class="fw-bold mb-0"><%=other_user.name%></p>
                      <p class="small text-muted">Hello, Are you there?</p>
                     <% end %>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1"></p>
                    <span class="badge bg-danger float-end"></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <%end%>
      <%end%>

      </div>
  </div>
</section>

