<!DOCTYPE html>
<html>
<head>
  <title>Instagram Stories UI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="story_index.css">
</head>
<body>
  <div class="stories-container">
    <div class="add-stories">
      <%= link_to new_story_path, class:"nav-link" do%>
        <i class="fa-light fa-plus"></i>
      <% end %>
    </div>

    <% User.all.each do |story| %>
    <%if story == current_user%>
    <%if story.stories.present?%>
      <div class="story">
        <a href="<%= story_path(story.stories.last) %>">
          <div class="story-circle">
          </div>
          <div class="story-profile">
            <%if story.avatar.attached? %>
              <%= image_tag main_app.rails_blob_url(story.avatar.attachment)%>
            <%else%>
              <img src="" alt="Profile">
            <%end%>
          </div>
          <div class="story-username"><%= story.username %></div>
        </a>
      </div>
     <% end %>
     <%else%>
     <%if story.stories.present?%>
      <div class="story">
        <a href="<%= story_path(story.stories.last) %>">
          <div class="story-circle">
          </div>
          <div class="story-profile">
            <%if story.avatar.attached? %>
              <%= image_tag main_app.rails_blob_url(story.avatar.attachment)%>
            <%else%>
              <img src="" alt="Profile">
            <%end%>
          </div>
          <div class="story-username"><%= story.username %></div>
        </a>
      </div>
     <% end %>
     <%end%>
    <%end%>
  </div>
</body>
</html>
