<!DOCTYPE html>
<html>
<head>
  <title>Story View</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="story_show.css">
</head>
<body class="bg-secondary text-white" >
  
  <div class=" story-view position-absolute top-50 start-50 translate-middle">
    <div class="story-view-content">
      <div class="story-image">
        <%if @story.user.avatar.attached? %>
          <%= image_tag main_app.rails_blob_url(@story.user.avatar.attachment)%>
        <%else%>
          <img src="" alt="Profile">
        <%end%>
      </div>
      <div class="story-username"><%= @story.user.username %></div>
      <div class="story-controls">
        <% if @prev_story %>
          <a href="<%= story_path(@prev_story) %>" class="story-control prev">Previous</a>
        <% end %>
        <% if @next_story %>
          <a href="<%= story_path(@next_story) %>" class="story-control next">Next</a>
        <% end %>
      </div>
    </div>
    <div class="storys">
         <%= video_tag main_app.rails_blob_url(@story.stories.first.attachments.first), controls: true, class: 'videoclass', width:"500px", height:"600px"%>
    </div>
    <div class="storytail">
         <%= render partial:"likes/button", locals: {likeable: @story} %>
         <% if @story.user == current_user%>
         <%= link_to "Delete_story", story_path(@story), data: {turbo_method: :delete}%>
         <% end %>
    </div>
  </div>
</body>
</html>
