<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Parcel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="module" src="js/main.js"></script>
    <link rel="stylesheet" href="home_search.css">
  </head>
  <body>

    <!-- Navbar top -->
    <div class="navbar-top">
      <%= form_with url: search_path, method: :get, local: true do %>
    <span> <%= label_tag :search, "Search:" %> </span>
    <span> <%= text_field_tag :search%> </span>
    <span> <%= submit_tag "Search" %> </span>
  <% end %>
  </div>

  <div class="main">
      <% @users.each do |user|%>
        <%= link_to "#{user.name}", user_path(user) %><br>
      <%end%>
  </div>

    <!-- End -->
    <%=render partial: "homes/navside" %>

  
</body>
</html>


