<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :text%>
    <% form.file_area :text%>

    <%=form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>