<%=render partial: "homes/navside" %>
<div class="main" style="padding:10px; margin-left:210px;">
<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :text%>
    <%= form.text_area :text%>

    <%=form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
</div>